<div class="content-wrapper">
  <div class="hold-transition login-page">
    <div class="login-box">
      <div class="card card-outline card-warning">
        <div class="card-header text-center">
          <a  class="h1"><img src="../../../assets/img/template/logo-no-back.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8" width="100"></a>
        </div>
        <div class="card-body">
          <p class="login-box-msg"><b>Cambiar contraseña</b></p>
          <form autocomplete="off" [formGroup]="formInsert" (ngSubmit)="confirmChange()" >
            <div class="alert alert-danger" role="alert" *ngIf="!validatePassword('newPassword','confirmPassword')">
              Las contraseñas no coinciden
            </div>

            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Contraseña anterior" formControlName="oldPassword">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <small class="text-danger mb-2" *ngIf="isInvalidField('oldPassword')">{{getErrorMessage('oldPassword')}}</small>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Nueva contraseña" formControlName="newPassword">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <small class="text-danger mb-2" *ngIf="isInvalidField('newPassword')">{{getErrorMessage('newPassword')}}</small>
            <div class="input-group mb-3">
              <input
              type="password" id="InputConfirmPassword" class="form-control" placeholder="Confirmar contraseña"
                formControlName="confirmPassword" [ngClass]="{'is-invalid': isInvalidField('confirmPassword')}">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <small class="text-danger mb-2 text-center" *ngIf="isInvalidField('confirmPassword')">{{getErrorMessage('confirmPassword')}}</small>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-warning btn-block">Cambiar contraseña</button>
              </div>
              <!-- /.col -->
            </div>
          </form>


        <!-- /.login-card-body -->
      </div>
    </div>
  </div>
</div>
